@font-face {
    font-family: "Data";
    src : url("/fonts/Distortion Dos Analogue.otf");
  }
  
  
  body{
      background-image: url('/textures/background/stars.jpg');
      font-family: "Data";
      font-size: 15px;
  }
  
  div{
    color: black;
    background-color: rgba(255,255,255,0.8);
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: 50px;
    padding-bottom: 10px;
    padding-top: 1px;
    text-align: center;
    border-radius: 20px;
  }